.box {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  cursor: pointer;
  place-items: center;
  transition: scale 0.3s ease-in-out;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}
.box:hover {
  scale: 1.1;
}
.box img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.box a {
  text-align: center;
}

.box li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.box li p {
  margin: 0 10px;
}

.box li p:first-of-type {
  font-weight: bold;
  font-size: 20px;
}
