.container {
  background-color: whitesmoke;
  width: 60%;
  padding: 20px;
  margin: 15px auto 50px;
  border-radius: 10px;
}

.container h2 {
  font-size: 36px;
}

.container p {
  margin: 10px 0;
}

.assets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.asset {
  width: 100%;
  border: 1px gray solid;
  border-radius: 10px;
  padding: 0 3px;
}
